---
import PostDetail from "@/components/sections/PostDetail.astro";
import Footer from "@/components/shared/Footer.astro";
import Header from "@/components/shared/Header.astro";
import RootLayout from "@/layouts/RootLayout.astro";

import { getCollection } from "astro:content";

export async function getStaticPaths() {
  const posts = await getCollection("blog");

  const paths = posts.map((page) => {
    const [lang, ...slug] = page.slug.split("/");
    return { params: { lang, slug: slug.join("/") || undefined }, props: page };
  });

  return paths;
}

const page = Astro.props;

const { Content } = await page.render();

const title = page.data.title;
const description = "blog";
---

<RootLayout title={title} description={description}>
  <Header />
  <main class="flex-1">
    <PostDetail title={page.data.title} date={page.data.date} slug={page.slug}>
      <div
        class="prose dark:prose-invert w-full max-w-[75ch] mx-auto prose-headings:text-carbon-900 prose-headings:dark:text-ivory-100 prose-p:text-carbon-700 prose-p:dark:text-ivory-100 prose-p:text-lg prose-li:text-lg"
      >
        <Content />
      </div>
    </PostDetail>
  </main>
  <Footer />
</RootLayout>
