---
import { getLangFromUrl, useTranslations } from "@/i18n/utils";

import Container from "@/components/shared/Container.astro";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);

const experienceStartDate = new Date("2021-05-01 10:00:00");

const calculateExperienceYears = (startDate: Date) => {
  const currentDate = new Date();
  const years = currentDate.getFullYear() - startDate.getFullYear();

  const months = currentDate.getMonth() - startDate.getMonth();
  const monthsInYears = months / 12;

  return Math.round((years + monthsInYears) * 10) / 10;
};

const experienceYears = calculateExperienceYears(experienceStartDate);

const profile = {
  name: "Wilmer Rodríguez Sánchez",
  role: "Software Engineer",
  description: `${t("home.presentation.experience_description")}`,
};
---

<Container tag="section">
  <div class="border-b border-ivory-500 pb-12">
    <div class="mx-auto px-4 md:px-8">
      <div class="max-w-4xl mx-auto">
        <h1
          class="font-grenze text-5xl font-bold tracking-tight mb-4 text-center"
        >
          {profile.name}
        </h1>
        <h2
          class="font-mono text-2xl text-center mb-8 font-bricolage-grotesque"
        >
          {profile.role}
        </h2>
        <div class="max-w-3xl mx-auto">
          <p
            class="text-xl text-carbon-700 dark:text-ivory-200 mb-6 leading-relaxed font-georgia"
          >
            <span
              title={`${t("home.presentation.from")} ${experienceStartDate.toLocaleDateString(lang)}`}
            >
              +{experienceYears}
            </span>
            {profile.description}
          </p>
        </div>
      </div>
    </div>
  </div>
</Container>
